<div class="app">
  <app-sidenav>
    <app-toolbar></app-toolbar>
    <main>
      <mat-card>
        <mat-card-title>EX:1 </mat-card-title>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input data-cy="name" name="name" matInput placeholder="Name" [(ngModel)]="form.name">
          </mat-form-field>
          <div class="example-button-row">
            <button data-cy="first-button" mat-raised-button [disabled]="!form.name">Disabled</button>
          </div>
        </form>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-title>EX:2 </mat-card-title>
        <mat-tab-group>
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab data-cy="tab-2" label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
      </mat-card>
      <br />
      <mat-card>
        <mat-card-title>EX:3 </mat-card-title>
        <button data-cy="button-get-data" mat-raised-button (click)="getData()">Getdata</button>
        <table data-cy="table-data" mat-table [dataSource]="datasource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef> language </th>
            <td mat-cell *matCellDef="let element"> {{element.language}} </td>
          </ng-container> 

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </mat-card>
    </main>
  </app-sidenav>
</div>